body {
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
    background-color: #1E1E1E;  
    overflow:hidden;
    overflow-x:hidden;
    display: flex;
}

button {
    font-family: 'Fira Sans', sans-serif;
    color: rgb(189, 189, 189);

    transition-duration: 0.4s;
}

p {
    color: rgb(189, 189, 189);
}

.navbar {
    width: 300px;
    height: 100%;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   

.navbar-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-title > img {
    width: 20%;
    height: 20%;
}

.navbar-title > p {
    color: #EA7600;
    font-size: 48px;
    padding-left: 5%;
}

.home-button {  
    height: 30px;
    width: 260px;
    text-align: center;
    border:none;
    border-radius: 15px;
    font-size: 18px;
    background: url(../img/home-btn-img.png) 10% 25% no-repeat;
    background-size: 10%; 
}

button:hover {
    background-color: #444040; 
    color: azure;
}

.button-div {
    display: flex;
    flex-direction: column;
    width: 260px;
    padding: 15px 0;
    border-bottom: 1px solid rgb(189, 189, 189);
}

.chapter-button {
    background-color: #1E1E1E;  
    height: 30px;
    padding: 0px 80px;
    border:none;
    border-radius: 15px;
    font-size: 18px;
}

.footer {
    position: absolute;
    left: 5%;
    bottom: 0;
    width: 100%;
}

.main-page {
    width: 80%;
    height: 80%;
    padding: 100px 0;
}